*{
    margin: 0;
    padding: 0;
}


body {
    width: 100%;
    margin: 0 auto;
}

/*topo*/
header{ 
    background-image: url(images/bg-hero-desktop.svg) ;
    background-attachment: fixed;
}


div.logo{
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

div.titulo {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    
}

div.conteudo-titulo{
    padding: 50px;
    text-align: center;
}
/*fim topo*/


/*inicio section*/
section{
    width: 90%;
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 80px;
    padding-left: 80px;
}

/*conteudo section grow*/
div.grow{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(219, 219, 219, 0.8);
    box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2)
}
div.conteudo-grow{
    padding: 150px 100px;
    width: 30%;
    text-align: left;
}
/*fim conteudo section grow*/

/*conteudo section conversation*/
div.conversation{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(219, 219, 219, 0.8);
    box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2)
}
div.conteudo-conversation{
    padding: 150px 100px;
    width: 30%;
    text-align: left;
}
/*conteudo section conversation*/

/*conteudo section users*/
div.users{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(219, 219, 219, 0.8);
    box-shadow: 2px 2px 2px 1px rgba(61, 61, 61, 0.2)
}
div.conteudo-users{
    padding: 150px 100px;
    width: 30%;
    text-align: left;
}
/*conteudo section users*/
